/client/*.iml
/client/.gradle
/client/local.properties
/client/.idea/caches
/client/.idea/libraries
/client/.idea/modules.xml
/client/.idea/workspace.xml
/client/.idea/navEditor.xml
/client/.idea/assetWizardSettings.xml
/client/.DS_Store
/client/build
/client/app/build
/client/app/.gradle
/client/captures
/client/.externalNativeBuild
/client/.cxx
/client/local.properties

# Vosk Model (100MB 초과 파일 방지)
**/src/main/assets/model-ko/
*.fst
*.lmdas

# OS 관련 임시 파일
/client/Thumbs.db

/client/app/google-services.json


# Java & Maven
target/
*.class
*.jar
*.war
*.ear

# Eclipse
.settings/
.project
.classpath
.metadata/
bin/
*.tmp
*.bak
*.swp
*~
.sts4-cache/

# IntelliJ (혹시 다른 팀원이 쓸 수도 있으니)
.idea/
*.iml
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Environment variables (중요: API 키 노출 방지)
.env

# Google Cloud 서비스 계정 키 (절대 커밋 금지)
*.json