/client/*.iml
/client/.gradle
/client/local.properties
/client/.idea/caches
/client/.idea/libraries
/client/.idea/modules.xml
/client/.idea/workspace.xml
/client/.idea/navEditor.xml
/client/.idea/assetWizardSettings.xml
/client/.DS_Store
/client/build
/client/app/build
/client/app/.gradle
/client/captures
/client/.externalNativeBuild
/client/.cxx
/client/local.properties
/client/.claude

# Vosk Model (100MB 초과 파일 방지)
**/src/main/assets/model-ko/
*.fst
*.lmdas

# OS 관련 임시 파일
/client/Thumbs.db


/client/app/google-services.json


# Java & Maven
/server/target/
*.class
*.jar
*.war
*.ear

# Eclipse
/server/.settings/
/server/.project
/server/.classpath
/server/.metadata/
/server/bin/
*.tmp
*.bak
*.swp
*~
/server/.sts4-cache/

# IntelliJ (혹시 다른 팀원이 쓸 수도 있으니)
/server/.idea/
/server/*.iml
/server/*.iws
/server/out/

# OS
/server/.DS_Store
/server/Thumbs.db

# Environment variables (중요: API 키 노출 방지)
/server/.env

# Google Cloud 서비스 계정 키 (절대 커밋 금지)
*.json
/.metadata/


/Servers